.FragenContainer {
  margin-top: 5%;
  height: 25%;
  margin-left: 25%;
  margin-right: 25%;
  border-width: 1px;
  border-style: solid;
}

.h1style{
  margin-left: 25%;
  margin-right: 25%;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 10%;
}