$fontSizeSmall: 12px;
$fontSizeDefault: 16px;
$fontSizeBig: 20px;
$fontSizeHuge: 24px;
$fontSizeVeryBig: 48px;

$fontSizeLogo: 30px;

$fontWeightLight: 300;
$fontWeightDefault: 400;
$fontWeightBold: 500;