@import "../../styles/_globals.scss";


.loginContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: max-content;
    margin: auto 0;
    border: solid 1px $grey;
    padding: $huge;

    .loginHeader {
        margin-bottom: $small;
        text-align: center;
        font-size: $fontSizeBig;
        font-weight: $fontWeightBold;
        color: $darkBlue;
    }

    .loginInputWrapper {
        margin: $default 0;

        .loginInputHeader {
            font-size: $fontSizeDefault;
        }

        .loginInput {
            width: 100%;
            margin: $small 0;
            padding: $tiny;
            font-size: $fontSizeDefault;
            font-weight: $fontWeightLight;
        }
    }

    .loginErrors {
        margin-bottom: $big;
        text-align: center;
        font-size: $fontSizeSmall;
        color: $red;
    }

    .loginButtonWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .registerLink {
            width: max-content;
            margin: -$small;
            margin-top: $small;
            padding: $small;
            text-align: center;
            font-size: $fontSizeSmall;
            color: $darkBlue;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                color: $darkBlueHover;
            }
        
            &:active {
                color: $darkBlueActive;
            }
        }
    }
}