@import "../../styles/_globals.scss";


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $headerHeight;
    padding: $default;
    background-color: $darkBlue;
    color: $white;

    .headerLeft {
        display: flex;
        align-items: center;
    }

    .headerRight {
        display: flex;

        .headerUser {
            margin-right: $small;;
            color: $white;
        }
    }
}