@import "../../styles/_globals.scss";


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $headerHeight;
    padding: $default;
    background-color: $darkBlue;
    color: $white;

    .headerLeft {
        display: flex;
        align-items: center;

        .headerLogoLink {
            margin-right: $big;
            font-size: $fontSizeLogo;
            text-decoration: none;
            color: $white;
            cursor: pointer;

            &:focus {
                outline: dotted 1px $white;
            }
        }
    }

    .headerRight {
        display: flex;
    }
}