.MainPageBody{
    height: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.Centered{
    text-align: center;
}
.StartButtonContainer{
    display: flex;
    justify-content: center;
    padding-top: 10%;
}


