.imageClass {
  flex: 1;
  max-width: 150px;
  max-height: 150px;
  margin-right: 5px;
}
.container{
  height: 150px;
  margin-top:20px;
  display: flex;
  padding: 5px;
  border: #282c34 1px solid;
}
.starButton{
  margin-right: 0;
}
.h2Class{
  margin: 0;
}