@import "../../styles/sizes.scss";
@import "../../styles/colors.scss";


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: $headerHeight;
    padding: $default;
    background-color: $darkBlue;
    color: $white;

    .headerLeft {
        display: flex;
        align-items: center;

        .headerLogo {
            height: $logoHeight;
            margin-right: $big;
            object-fit: contain;
            cursor: pointer;
        }
    }

    .headerRight {
        display: flex;
    }
}